/* :root {
  --vp-home-hero-name-color: #ff8700;
  --vp-button-brand-bg:var(--vp-home-hero-name-color);
  --vp-button-brand-border:var(--vp-home-hero-name-color);
  --vp-c-brand:var(--vp-home-hero-name-color);
} */
